*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:radial-gradient(circle at top,#001f3f,#000);
  color:white;
}

#particles-js{
  position:fixed;
  width:100%;
  height:100%;
  z-index:-1;
}

/* HEADER */
.header{
  position:fixed;
  width:100%;
  top:0;
  background:#0b0f14;
  border-bottom:1px solid #00aaff;
  z-index:1000;
}

.container{
  max-width:1200px;
  margin:auto;
  padding:18px 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-size:22px;
  font-weight:600;
  color:white;
}

.logo span{
  color:#00aaff;
}

/* NAV DESKTOP */
.nav{
  display:flex;
  gap:25px;
  align-items:center;
}

.nav a{
  text-decoration:none;
  color:white;
  font-size:14px;
  transition:0.3s;
}

.nav a:hover{
  color:#00aaff;
}

.resume-btn{
  background:#00aaff;
  padding:8px 14px;
  border-radius:5px;
  color:white;
}

/* HAMBURGER */
.hamburger{
  display:none;
  flex-direction:column;
  cursor:pointer;
  gap:5px;
}

.hamburger span{
  width:25px;
  height:3px;
  background:white;
  border-radius:2px;
  transition:0.3s;
}
.hamburger.open span:nth-child(1){
  transform:rotate(45deg) translate(5px,5px);
}

.hamburger.open span:nth-child(2){
  opacity:0;
}

.hamburger.open span:nth-child(3){
  transform:rotate(-45deg) translate(5px,-5px);
}


/* MOBILE RESPONSIVE */
@media (max-width: 900px){

  .nav{
    position:absolute;
    top:70px;
    right:0;
    background:#111;
    flex-direction:column;
    width:260px;
    padding:25px;
    gap:20px;
    display:none;
  }

  .nav.active{
    display:flex;
  }

  .hamburger{
    display:flex;
  }

}



.hero{
  display:flex;
  justify-content:space-around;
  align-items:center;
  min-height:100vh;
  padding-top:120px;
}

.hero-right img{
  width:230px;
  border-radius:50%;
  border:4px solid #00aaff;
}

.btn{
  padding:12px 25px;
  background:#00aaff;
  border-radius:6px;
  text-decoration:none;
  color:white;
  display:inline-block;
}

.section{
  padding:100px 80px;
}

.skills-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:25px;
  margin-top:40px;
}

.skill-card{
  background:#111;
  padding:20px;
  border-radius:12px;
  text-align:center;
  border:1px solid #00aaff;
  transition:0.4s;
}

.skill-card img{
  width:50px;
  margin-bottom:10px;
}

.skill-card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 25px #00aaff;
}

.project-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:30px;
  margin-top:40px;
}

.project-card{
  background:#111;
  border-radius:12px;
  overflow:hidden;
  border:1px solid #00aaff;
  transition:0.4s;
  display:flex;
  flex-direction:column;
}

.project-card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.project-content{
  padding:20px;
}

.project-content h3{
  color:#00aaff;
  margin-bottom:12px;
}

.project-content p{
  margin-bottom:18px;
  font-size:14px;
  line-height:1.6;
}

.project-card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 25px #00aaff;
}

.btn-outline{
  padding:8px 15px;
  border:1px solid #00aaff;
  border-radius:6px;
  text-decoration:none;
  color:#00aaff;
  transition:0.3s;
  display:inline-block;
}

.btn-outline:hover{
  background:#00aaff;
  color:black;
}


/* BUG BOUNTY SECTION */
.bug-card{
  display:flex;
  gap:30px;
  background:#111;
  padding:30px;
  border-radius:12px;
  border:1px solid #00aaff;
  margin-top:40px;
  transition:0.4s;
}

.bug-card:hover{
  box-shadow:0 0 25px #00aaff;
}

.bug-image img{
  width:300px;
  border-radius:8px;
  border:1px solid #00aaff;
}

.bug-content h3{
  color:#00aaff;
  margin-bottom:15px;
}

.bug-content ul{
  margin:15px 0;
  padding-left:20px;
}

.bug-content li{
  margin-bottom:8px;
}

.btn{
  display:inline-block;
  margin-top:10px;
  padding:10px 18px;
  background:#00aaff;
  border-radius:6px;
  text-decoration:none;
  color:white;
  transition:0.3s;
}

.btn:hover{
  background:#0090cc;
}


.social-links a{
  margin-right:20px;
  color:#00aaff;
  text-decoration:none;
}

@media(max-width:768px){
  .hero{
    flex-direction:column;
    text-align:center;
  }
  .section{
    padding:80px 20px;
  }
}
